<html>
	<head>
		<title>Voting App (FCC)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link rel="stylesheet" href="/_css/_template.css">
    <link rel="stylesheet" href="/_css/voting/v_create.css">
	</head>
	<body>
		<div id="navSect">
    	<div id="dropBtn">
        <a class="inactiveLink" href="/" onclick="return false">Menu</a>
        <div id="appMenu">
          <div class="menuSpacer"></div>
          <a class="menuLink" href="/">Home</a>
          <a class="menuLink" href="/voting">Voting App</a>
          <a class="menuLink" href="/nightlife">Nightlife App</a>
          <a class="menuLink" href="/stocks">Stock Prices</a>
          <a class="menuLink" href="/books">Book Trading</a>
          <a class="menuLink" href="/pins">Photo Pins</a>
      	</div>
      </div>
      <div id="whoami">
	      <% if (!user) { %>
					Welcome!
				<% } else { %>
					Hello, <%= user.username %>
				<% } %>
	    </div>
      <% if (user) { %>
	    	<div id="logout">
	    		<a id="logoutLink" href="/logout">Logout</a>
	    	</div>
	    <% } %>
	    <% if (!user) { %>
				<div id="visitorLogin">
	    		<form id="visitorForm" action="/login/visitor" method="post">
	    			<input class="loginInput" type="hidden" name="username" value="test_user">
	    			<input class="loginInput" type="hidden" name="password" value="test_user">
	    			<button id="visitorBtn" type="submit">Test</button>
	    		</form> 
	    	</div>
	    	<div id="twitterLogin">
					<a id="twitterLink" href="/login/twitter">
		      	<i id="twitterLogo" class="fa fa-twitter" aria-hidden="true"></i>
			    	<span id="twitterWord">Login</span>
		    	</a>
				</div>
			<% } %>
    </div>
    <div id="headerSect">
    	<span class="headerTitle">Voting App</span>
      <span class="headerSub">Make your own polls!</span>
    </div>
    
    
    <div id="contentSect">
    	
    	<div class="controls">
        <% if (user) { %>
        	<div class="changePage"><a href="/voting/profile/<%= user.username %>">Profile</a></div>
        <% } %>	
        <div class="changePage"><a href="/voting">Main</a></div>
      </div>
      
      <div id="createSect">
		    <span id="pageTitle">Create a new poll</span>
		    <% if (user) { %>
					<form name="create" action="/voting/new" method="post" onsubmit="return validateForm()">
				<% } else { %>
					<form name="create" onsubmit="return false">
				<% } %>
		      <label>Poll Name:</label>
		      <input type="text" name="pollname" maxlength="100">
		      <br>
		      <label>Poll Options:</label>
		      <input class="option" type="text" name="option_1" maxlength="50">
		      <input class="option" type="text" name="option_2" maxlength="50">
		      <input class="option" type="text" name="option_3" maxlength="50">
		      <input class="option" type="text" name="option_4" maxlength="50">
		      <input class="option" type="text" name="option_5" maxlength="50"><br>
		      <div class="addRow divBtn">Add Row</div>
		      <div class="removeRow divBtn">Remove Row</div>
		      <% if (user) { %>
						<input type="submit" value="Save">
					<% } else { %>
						<div class="noSubmit"><a href="/login/twitter">Login with Twitter to Save</a></div>
					<% } %>
		    </form>
		  </div>
		  
    </div>
    
    
    <div id="footerSect">
      Created by Brian LeVay, August 2016 as part of the <a href="https://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> curriculum
    </div>
    <script src="/_js/jquery.min.js"></script>
    <script src="/_js/voting/v_create.js"></script>
	</body>
</html>

