/* 
Common template styles defined at the top,
app-specific styles (#contentSect) at the bottom.
Single color scheme across all pages:
designschool.canva #43 Antique Tones
bluebell #155765
olive #57652a
ornate (gold) #ab9353
plum #4d2c3d
*/

/* variables */

$fancyFont: 'Permanent Marker', cursive;
$sectionMargin: 5px;
$sectionPadding: 10px;

$behaviorAColor: #4d2c3d;
$behaviorAColorTxt: white;
$behaviorBColor: red;
$behaviorBColorTxt: white;
$seeMoreColor: #57652a;
$seeMoreColorTxt: white;
$updateColor: #57652a;
$updateColorTxt: white;
$searchColor: #57652a;
$searchColorTxt: white;
$clearColor: #57652a;
$clearColorTxt: white;
$tradeFreeColor: #57652a;
$tradeFreeColorTxt: white;

$profileColor: #eeeeee;
$addBooksColor: #eeeeee;
$bookSectColor: white;
$bookColor: white;

/* app-specific (content) styles */

#contentSect {
  margin: 10px;
}

/* This styles the root-level error banner */

.error {
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	outline: 2px outset black;
}

/* This styles the root-level tab label section and its children */

.tabLabelSect {
	margin: auto;
	margin-top: 5px;
	text-align: center;
	
	@mixin tabLabel {
		display: inline-block;
		width: 120px;
		padding: 5px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
  }
  
  .activeTabLabel {
  	@include tabLabel;
  	background-color: #57652a;
  	color: white;
  }
  
  .inactiveTabLabel {
  	@include tabLabel;
  	background-color: #ab9353;
  	color: black;
  }
}

/* This styles the main tab content container and its descendents, except for the book sections */

.tabContents {
	
	.tabHeader {
		margin: $sectionMargin;
		padding: $sectionPadding;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		font-family: $fancyFont;
	}

	.appIntro {
		margin: $sectionMargin;
		padding: $sectionPadding;
	}
}

/* These are some generic mixins */

@mixin genericBtn {
	display: block;
  width: 135px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px outset;
  font-size: 0.9em;
  font-weight: bold;
}

@mixin genericBorder {
	border: 1px outset black;
	border-radius: 5px;
}

@mixin genericHeader {
	margin: 5px 5px 10px 5px;
	font-family: $fancyFont;
	font-weight: bold;
	font-size: 1.2em;
}

/* This styles the Profile section on the Profile tab, including all children */

.profile {
	@include genericBorder;
	margin: $sectionMargin;
	padding: $sectionPadding;
	background-color: $profileColor;
	
	.greeting {
		@include genericHeader;
	}
	
	label {
		margin-right: 10px;
	}
	
	input {
		display: inline-block;
		height: 2em;
		margin: 0px 10px 10px 0px;
	}
	
	button {
		@include genericBtn;
		margin: 5px 0px 0px 0px;
		background-color: $updateColor;
		border-color: $updateColor;
		color: $updateColorTxt;
	}
	
}

/* This styles the "add books" section of the Profile page, not including the suggested books */

.addBooks {
	@include genericBorder;
	margin: $sectionMargin;
	padding: $sectionPadding;
	background-color: $addBooksColor;
	
	.addBooksHeader {
		@include genericHeader;
	}
	
	.searchSect {
		
		.searchSubheader {
			margin: 10px 0px 5px 0px;
		}
		
		.searchInput {
			display: inline-block;
			width: 200px;
			height: 2em;
			margin: 0px 10px 10px 0px;
		}
		
		.searchBtn {
		  @include genericBtn;
		  display: inline-block;
		  background-color: $searchColor;
			border-color: $searchColor;
			color: $searchColorTxt;
		}
	}
}

/* This styles everything within the book sections other than the books themselves */

.bookSect {
	@include genericBorder;
	margin: $sectionMargin;
	padding: $sectionPadding;
	background-color: $bookSectColor;
	
	.bookSectHeader {
		@include genericHeader;
	}
	
	.thumbSect {
		
		.seeMore {
			@include genericBtn;
			margin: 5px 0px 0px 0px;
			background-color: $seeMoreColor;
			border-color: $seeMoreColor;
			color: $seeMoreColorTxt;
		}
		
		.clearSuggested {
			@include genericBtn;
			margin: 5px 0px 0px 0px;
			background-color: $clearColor;
			border-color: $clearColor;
			color: $clearColorTxt;
		}
		
		.tradeForNone {
			@include genericBtn;
			margin: 5px 0px 0px 0px;
			background-color: $tradeFreeColor;
			border-color: $tradeFreeColor;
			color: $tradeFreeColorTxt;
		}
		
	}
}

/* Styles individual book thumbnails */

.book {
	@include genericBorder;
	display: inline-block;
	width: 200px;
	margin: 5px;
	vertical-align: top;
	text-align: center;
	box-shadow: 2px 2px 2px black;
	background-color: $bookColor;
	
	.behaviorA {
		
		button {
			@include genericBtn;
			background-color: $behaviorAColor;
			border-color: $behaviorAColor;
			color: $behaviorAColorTxt;
		}
	}
	
	.behaviorB {
		
		button {
			@include genericBtn;
			background-color: $behaviorBColor;
			border-color: $behaviorBColor;
			color: $behaviorBColorTxt;
		}
	}
	
	.thumbnail {
		margin-bottom: 10px;
		padding-top: 10px;
		height: 220px;
		overflow: hidden;
		
		a img {
			outline: 1px solid black;
		}
	}
	
	.bookDetails {
		
		@mixin detail {
			margin: 3px 8px 3px 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		
		.bookTitle {
			@include detail;
			font-weight: bold;
		}
		
		.bookAuthors {
			@include detail;
		}
		
		.bookOwner {
			@include detail;
			font-size: 0.8em;
		}
		
		.bookLocation {
			@include detail;
			font-size: 0.8em;
		}
	}
}

.highlight {
	background-color: #eeeeee;
}

