body {
  background-color: #667292;
}

a {
  color: white;
}

/* class-level styles */
.my-row {
  display: block;
  text-align: center;
}

.my-col {
  display: inline-block;
}

.mod-btn {
  margin: 2px;
  width: 50px;
  height: 25px;
  font-weight: bold;
  box-shadow: 1px 1px 1px black;
  border: 1px solid black;
  background-color: white;
}

.ctl-btn {
  margin: 2px;
  width: 80px;
  height: 25px;
  font-weight: bold;
  box-shadow: 1px 1px 1px black;
  border: 1px solid black;
  background-color: white;
}

/* highest level container, excluding "page */
#content {
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  min-width: 350px;
}

/* elements inside the "content" div */
#title {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  background-color: #bccad6;
  border: 1px solid black;
}

#main {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 15px 0px;
  background-color: #f1e3dd;
  border: 1px solid black;
}

#progress-bar {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  background-color: #8d9db6;
  border: 1px solid black;
}

#footer {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 5px 0px;
  font-size: 0.8em;
  color: white;
}

/* elements inside the "title" div */
#title-text {
  font-size: 3em;
  font-weight: bold;
  color: black;
  text-shadow: 3px 3px 1px white, 4px 4px 1px black; 
}

/* elements inside the "main" div */
#time-sect {
}

#control-sect {
}

/* elements inside the "time-sect" div */
#min-adj-sect {
  vertical-align: 35%;
}

#timer-display {
}

#timer {
  margin: 5px 10px 5px 10px;
  font-size: 5em;
  color: black;
  text-shadow: 0px 0px 1px white, 2px 2px 4px gray; 
}

#sec-adj-sect {
  margin: 0px 0px 0px 0px;
  vertical-align: 35%;
}

/* elements inside the "control-sect" div*/

/* elements inside the "progress-bar" div*/
#completed {
  margin: 20px 0px 20px 0px;
  width: 0%;
  height: 20px;
  background-color: #3f465a;
  border: 1px solid black;
}

#remaining {
  margin: 20px 0px 20px 0px;
  width: 0%;
  height: 20px;
  background-color: #f1e3dd;
  border: 1px solid black;
}