/* 
Common template styles defined at the top,
app-specific styles (#contentSect) at the bottom.
Single color scheme across all pages:
designschool.canva #43 Antique Tones
bluebell #155765
olive #57652a
ornate (gold) #ab9353
plum #4d2c3d
*/

/* app-specific (content) styles */

#contentSect {
  position: relative;
  margin: 10px;
}

.controls {
  position: relative;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.changePage {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  border: 1px outset #57652a;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #57652a;
}

.changePage a {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#createSect {
  width: 400px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

#pageTitle {
  display: block;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

label {
  display: block;
  margin: auto;
  font-weight: bold;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

input[type=text] {
  font-size: 1.1em;
  padding: 5px;
  border: 1px outset #57652a;
  background-color: #eeeeee;
}

input[type=submit] {
  padding: 5px;
  border-radius: 3px;
  border: 1px outset #4d2c3d;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #4d2c3d;
  color: white;
  cursor: pointer;
}

.divBtn {
  display: inline-block;
  width: 135px;
  padding: 5px;
  border-radius: 3px;
  border: 1px outset #ab9353;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #ab9353;
  color: black;
  cursor: pointer;
}

.noSubmit {
  width: 290px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px dashed gray;
  font-size: 0.9em;
  font-weight: bold;
  background-color: gray;
  color: white;
}

.noSubmit a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}