/* 
Common template styles defined at the top,
app-specific styles (#contentSect) at the bottom.
Single color scheme across all pages:
designschool.canva #43 Antique Tones
bluebell #155765
olive #57652a
ornate (gold) #ab9353
plum #4d2c3d
*/

/* app-specific (content) styles */

#contentSect {
  margin: 10px;
}

.controls {
  position: relative;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.changePage {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  border: 1px outset #57652a;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #57652a;
}

.changePage a {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.pollSectHeader {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.pollPreview {
  vertical-align: top;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.view {
  background-color: #4d2c3d;
}

.deleteForm {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  padding: 3px 5px 4px 5px;
  border-radius: 3px;
  border: 1px outset red;
  background-color: red;
  text-align: center;
}

#deletePoll {
  display: inline;
  padding: 0px;
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.pollTitle {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 0px 10px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.voteSum {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4em;
  font-weight: bold;
}

.resultRow {
  margin-top: 5px;
}

.resultSingle {
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background-color: white;
}

